.notificationPanel {
  position: absolute;
  top: 130%; /* 알림 아이콘 바로 아래에 위치 */
  right: -200%;
  width: 330px;
  max-height: 511px; /* 최대 높이 설정 (넘치면 스크롤바가 나타남) */
  overflow-y: auto; /* 넘칠 경우 스크롤바 표시 */
  background: linear-gradient(to top, rgba(221, 221, 221, 0.95), rgba(230, 255, 230, 0.95));
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 20px 10px 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 18px; 
  margin: 0; 
}

.notificationIcon2{
  max-width: 6%; 
  margin-right: 5px;
  vertical-align: middle;
}

.notificationicon3{
  max-width: 6%; 
  margin-right: 10px; 
  vertical-align: middle;
}


.notificationLink {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상을 상속 */
}

.notificationItem {
  display: flex;
  align-items: center;
  padding: 0px;
  cursor: pointer;
  border-bottom: 1px solid #eee; 
  background-color: #ffffff;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notificationDetails {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.notificationDate{
  display: flex;
  align-items: center; 
  font-size: 12px;
  font-weight: bold;
  color: #A3A3A3;
}

/* .notificationicon {
  display: block;
} */


.notificationSummary {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0 2px 0;
  color: #4F4F4F;
  
}

.notificationDescription {
  font-size: 12px;
  color: #666;
  margin: 0 0 7px 0;
  color: #999999;
}

.notificationType {

  font-size: 12px;
  font-weight: bold;
  color: #347249;
  margin: 1px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #d7e0d6; */
  padding: 4px;
  border-radius: 12px; 
  background-color: #b1dfb9; 
  width: fit-content; /* 상자의 너비를 내용에 맞게 설정 */
}

:global(.dark-mode) .notificationPanel{
  background: linear-gradient(to top, rgba(61, 61, 61, 0.95), rgba(46, 61, 46, 0.95));
  border: 1px solid #ccc;
  color: #c5c5c5;
}


:global(.dark-mode) .notificationItem {
  border: 1px solid #eee;
  background-color: #181818;
  
}

:global(.dark-mode) .notificationSummary {
  color: #bdbdbd;
}

:global(.dark-mode) .notificationType {
  color: #95cf9f;
  background-color: #475a4d;
}

:global(.dark-mode) .notificationIcon2 {
  filter: invert(1) hue-rotate(180deg);
}

/* :global(.dark-mode) .notificationIcon3 {
  filter: invert(1) hue-rotate(180deg);
} */