/* 타이틀 스타일 */
.title {
  color: #9eb696; /* 텍스트 색상 설정 */
}

/* 테이블 컨테이너 스타일 */
.tableContainer {
  margin: 0 200px; /* 좌우 마진 설정 */
}

/* 헤더 컨테이너 스타일 */
.headerContainer {
  display: flex; /* 플렉스 박스 설정 */
  justify-content: space-between; /* 좌우 공간을 균등하게 분배 */
  align-items: center; /* 세로 정렬 설정 */
  margin-bottom: 10px; /* 하단 마진 설정 */
  flex-wrap: wrap; /* 내용이 넘치면 다음 줄로 이동 */
}

/* 버튼 컨테이너 스타일 */
.buttonContainer {
  display: flex; /* 플렉스 박스 설정 */
  gap: 5px; /* 요소 간격 설정 */
}

/* 기본 버튼 스타일 */
.defaultButton {
  background-color: transparent; /* 배경 투명 설정 */
  color: black; /* 텍스트 색상 설정 */
  border: none; /* 테두리 제거 */
  padding: 10px 20px; /* 패딩 설정 */
  cursor: pointer; /* 커서 모양 설정 */
  display: flex; /* 플렉스 박스 설정 */
  align-items: center; /* 세로 정렬 설정 */
  gap: 5px; /* 요소 간격 설정 */
  transition: background-color 0.3s; /* 배경색 전환 효과 설정 */
}

/* 기본 버튼 호버 스타일 */
.defaultButton:hover {
  background-color: #f0f0f0; /* 배경색 설정 */
}

/* 기본 버튼 이미지 스타일 */
.defaultButton img {
  width: 20px; /* 너비 설정 */
  height: 20px; /* 높이 설정 */
}

/* 행 추가 버튼 스타일 */
.addRowButton {
  padding: 10px 20px; /* 패딩 설정 */
  margin: 5px; /* 마진 설정 */
  border: none; /* 테두리 제거 */
  color: white; /* 텍스트 색상 설정 */
  cursor: pointer; /* 커서 모양 설정 */
  border-radius: 4px; /* 테두리 반경 설정 */
  background-color: #9eb696; /* 배경색 설정 */
  transition: background-color 0.3s; /* 배경색 전환 효과 설정 */
}

/* 행 추가 버튼 호버 스타일 */
.addRowButton:hover {
  background-color: #6fa16f; /* 배경색 설정 */
}

/* 테이블 스타일 */
.table {
  width: 100%; /* 너비 설정 */
  border-collapse: collapse; /* 테두리 겹침 제거 */
  table-layout: fixed; /* 고정된 너비 설정 */
}

/* 테이블 헤더 스타일 */
.thead {
  background-color: #e0e8d8; /* 배경색 설정 */
}

/* 테이블 셀 스타일 */
.table th,
.table td {
  padding: 10px; /* 패딩 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  border-bottom: 1px solid #ddd; /* 하단 테두리 설정 */
  vertical-align: middle; /* 수직 중앙 정렬 */
}

/* 테이블 헤더 스타일 */
.table th {
  height: 30px; /* 높이 설정 */
  background-color: #e0e8d8; /* 배경색 설정 */
}

/* 테이블 첫 번째 열 스타일 */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 5%; /* 너비 설정 */
}

/* 테이블 열 스타일 */
.table th:nth-child(2),
.table td:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(3),
.table th:nth-child(4),
.table td:nth-child(4),
.table th:nth-child(5),
.table td:nth-child(5),
.table th:nth-child(6),
.table td:nth-child(6),
.table th:nth-child(7),
.table td:nth-child(7) {
  width: 13%; /* 너비 설정 */
}

/* 테이블 본문 행 스타일 */
.table tbody tr {
  height: 40px; /* 높이 설정 */
  transition: background-color 0.3s; /* 배경색 전환 효과 설정 */
}

/* 테이블 본문 행 호버 스타일 */
.table tbody tr:hover {
  background-color: #f5f5f5; /* 배경색 설정 */
}

/* 체크박스 스타일 */
.checkbox {
  -webkit-appearance: none; /* 웹킷 브라우저 스타일 초기화 */
  -moz-appearance: none; /* 모질라 브라우저 스타일 초기화 */
  appearance: none; /* 기본 스타일 초기화 */
  width: 18px; /* 너비 설정 */
  height: 18px; /* 높이 설정 */
  border: 2px solid #7eb47e; /* 테두리 설정 */
  border-radius: 3px; /* 테두리 반경 설정 */
  outline: none; /* 외곽선 제거 */
  cursor: pointer; /* 커서 모양 설정 */
  position: relative; /* 상대 위치 설정 */
  margin-right: 50px; /* 오른쪽 마진 설정 */
}

/* 체크박스 체크 시 스타일 */
.checkbox:checked {
  background-color: #7eb47e; /* 배경색 설정 */
  border: none; /* 테두리 제거 */
}

/* 체크박스 체크 후 아이콘 스타일 */
.checkbox:checked::after {
  content: '✔'; /* 체크 아이콘 설정 */
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 수직 중앙 정렬 */
  left: 50%; /* 수평 중앙 정렬 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  color: white; /* 텍스트 색상 설정 */
  font-size: 14px; /* 폰트 크기 설정 */
}

/* 입력 필드 및 선택 필드 스타일 */
.inputText,
.selectInput {
  width: 100%; /* 너비 설정 */
  box-sizing: border-box; /* 박스 크기 설정 */
  border: none; /* 테두리 제거 */
  padding: 8px; /* 패딩 설정 */
  margin: 0; /* 마진 제거 */
  height: calc(55px); /* 높이 설정 */
  align-items: center; /* 세로 정렬 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  font-size: 16px; /* 폰트 크기 설정 */
}

/* 입력 필드 포커스 시 스타일 */
.inputText:focus,
.selectInput:focus {
  outline: none; /* 외곽선 제거 */
}

/* 작은 화면에서의 스타일 설정 */
@media only screen and (max-width: 768px) {
  .title {
    margin-left: 3%; /* 왼쪽 마진 설정 */
  }

  .tableContainer {
    margin: 0 3%; /* 좌우 마진 설정 */
  }

  .headerContainer {
    flex-direction: column; /* 열 방향 설정 */
    justify-content: center; /* 가운데 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
  }

  .buttonContainer {
    width: 100%; /* 너비 설정 */
    justify-content: flex-start; /* 왼쪽 정렬 */
  }

  .defaultButton {
    flex-direction: column; /* 열 방향 설정 */
    align-items: center; /* 가운데 정렬 */
    gap: 3px; /* 간격 설정 */
  }
}

/* ReleasesRegistration.module.css 다크모드 스타일 추가 */
:global(.dark-mode) .tableContainer {
  background-color: #333333; /* 배경색 설정 */
  color: #fff; /* 텍스트 색상 설정 */
}

:global(.dark-mode) .headerContainer {
  background-color: #333333; /* 배경색 설정 */
}

:global(.dark-mode) .defaultButton img {
  filter: invert(1); /* 이미지 색상 반전 */
}

:global(.dark-mode) .defaultButton {
  color: #fff; /* 텍스트 색상 설정 */
}

:global(.dark-mode) .defaultButton:hover {
  background-color: #666; /* 배경색 설정 */
}

:global(.dark-mode) .table {
  border-color: #555; /* 테두리 색상 설정 */
  color: #ccc; /* 텍스트 색상 설정 */
}

:global(.dark-mode) .table th {
  background-color: #555; /* 배경색 설정 */
}

:global(.dark-mode) .table th,
:global(.dark-mode) .table td {
  border-color: #555; /* 테두리 색상 설정 */
}

:global(.dark-mode) .table tbody tr:hover {
  background-color: #444; /* 배경색 설정 */
}

:global(.dark-mode) input[type='checkbox'] {
  border-color: #7eb47e; /* 테두리 색상 설정 */
}

:global(.dark-mode) input[type='checkbox']:checked {
  background-color: #7eb47e; /* 배경색 설정 */
}

:global(.dark-mode) .inputText {
  background-color: #333; /* 배경색 설정 */
  color: #ffffff; /* 텍스트 색상 설정 */
}

:global(.dark-mode) .selectInput {
  background-color: #333; /* 배경색 설정 */
  color: #ccc; /* 텍스트 색상 설정 */
}
