.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* 요소들 간의 간격 */
  width: 100%; /* 전체 너비를 100%로 설정 */
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* 전체 너비를 100%로 설정 */
  margin: 0 auto;
}

.pieChartContainer {
  width: 596px;
  height: 383px;
  background-color: #375426;
  border-radius: 15px;
  margin-left: 140px;
}

.chartContainer {
  display: flex;
  align-items: flex-start; /* 상단 정렬 */
  gap: 320px;
}

.warehouseSection {
  flex: 1; /* 섹션이 부모 컨테이너의 너비를 균등하게 차지하도록 설정 */
  min-width: 45%; /* 최소 너비 설정 */
  max-width: 45%; /* 최대 너비 설정 */
  height: 374px;
  background: rgba(217, 217, 217, 0.1);
  padding: 20px;
  border-radius: 3.732px;
  box-shadow: 0px 4.976px 24.88px -1.244px rgba(6, 12, 59, 0.08);
  margin-left: 48px;
}

.inoutSection {
  flex: 1; /* 섹션이 부모 컨테이너의 너비를 균등하게 차지하도록 설정 */
  min-width: 45%; /* 최소 너비 설정 */
  max-width: 45%; /* 최대 너비 설정 */
  height: 374px;
  background: rgba(217, 217, 217, 0.1);
  padding: 20px;
  border-radius: 3.732px;
  box-shadow: 0px 4.976px 24.88px -1.244px rgba(6, 12, 59, 0.08);
}

.table {
  margin-top: 33px;
  width: 821px;
  font-family: 'Inter';
  text-align: center;
}

.tableTh {
  border-radius: 4px;
  opacity: 0.3;
  background: linear-gradient(
    180deg,
    rgba(139, 139, 139, 0.64) 0%,
    rgba(108, 108, 108, 0.64) 25%,
    rgba(83, 83, 83, 0.64) 63%,
    rgba(37, 37, 37, 0.64) 100%
  );
  box-shadow: 12px 12px 250px 3px rgba(0, 0, 0, 0.25);
}

.statisticsSection {
  width: 100%; /* 전체 너비를 100%로 설정 */
  height: 480px;
  border-radius: 3.732px;
  background: var(--White, #fff);
  box-shadow: 0px 4.976px 24.88px -1.244px rgba(6, 12, 59, 0.08);
  margin: 20px 60px 40px 48px;
  padding: 20px;
}
