<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inven.tree.mapper.SubsidiariesMapper">

	<!-- ResultMap 정의 -->
	<resultMap id="subsidiariesResultMap" type="com.inven.tree.model.Subsidiaries"><!-- 여기도 type 속성이 변경됨 -->
		<id property="subIdx" column="sub_idx" />
		<result property="corpIdx" column="corp_idx" />
		<result property="subName" column="sub_name" />
		<result property="subOwner" column="sub_owner" />
		<result property="subTel" column="sub_tel" />
		<result property="subAddr" column="sub_addr" />
		<result property="isRelease" column="is_release" />
	</resultMap>

	<!-- 입고 업체를 가져오는 SQL -->
    <select id="selectIncomingSubsidiariesByCorpIdx" parameterType="string" 
    	resultMap="subsidiariesResultMap"> <!-- 여기도 resultMap 속성이 변경됨 -->
        SELECT * FROM subsidiary WHERE corp_idx = #{corpIdx} AND is_release = 'N'
    </select>

	<!-- 출고 업체를 가져오는 SQL -->
    <select id="selectOutgoingSubsidiariesByCorpIdx" 
    parameterType="string" resultMap="subsidiariesResultMap"> <!-- 여기도 resultMap 속성이 변경됨 -->
        SELECT * FROM subsidiary WHERE corp_idx = #{corpIdx} AND is_release = 'Y'
    </select>

	<!-- sub_name으로 sub_idx 찾기 -->
    <select id="selectSubIdxByName" parameterType="map" resultType="int">
        SELECT sub_idx FROM subsidiary WHERE sub_name = #{subName} AND is_release = #{isRelease}
    </select>
	
	<!-- sub_idx로 sub_name 찾기 -->
    <select id="selectSubNameBySubIdx" parameterType="map" resultType="string">
        SELECT sub_name FROM subsidiary WHERE sub_idx = #{subIdx} AND is_release = #{isRelease}
    </select>

	<!-- 모든 subsidiary를 가져오는 SQL -->
	<select id="selectAllSubsidiary" resultMap="subsidiariesResultMap">
		SELECT * FROM subsidiary
	</select>
	
	<!-- corpIdx로 subsidiary 가져오는 SQL -->
	<select id="selectSubsidiaryByCorpIdx" resultMap="subsidiariesResultMap">
		SELECT *
		FROM subsidiary
		WHERE corp_idx = #{corpIdx}
	</select>
	
	<!-- Subsidiaries 정보 변경 -->
	<update id="updateSubsidiary" parameterType="Subsidiaries">
		UPDATE subsidiary
		SET sub_name=#{subName},
			sub_owner=#{subOwner},
			sub_tel=#{subTel},
			sub_Addr=#{subAddr},
			is_release=#{isRelease}
		WHERE sub_idx=#{subIdx}
	</update>
	
	<!-- 업체 정보 추가 -->
	<insert id="insertSubsidiary" parameterType="Subsidiaries">
	    INSERT INTO subsidiary (sub_name, sub_owner, sub_tel, sub_addr, is_release, corp_idx)
	    VALUES
	    (#{subName}, #{subOwner}, #{subTel}, #{subAddr}, #{isRelease}, #{corpIdx})
	</insert>
	
	<!-- 업체 정보 삭제 -->
	<delete id="deleteSubsidiary" parameterType="int">
		DELETE FROM subsidiary
		WHERE sub_idx = #{subIdx}
	</delete>

    <!-- sub_name을 대소문자 구분 없이 조회 -->
    <select id="selectSubsidiaryByNameIgnoreCase" resultType="com.inven.tree.model.Subsidiaries"> <!-- 여기도 resultType 속성이 변경됨 -->
        SELECT * FROM subsidiary WHERE LOWER(sub_name) = LOWER(#{subName})
    </select>

    <!-- 특정 컬럼의 distinct 값 조회 -->
    <select id="selectDistinctByColumnAndCorpIdx" resultType="string">
        SELECT DISTINCT ${column} FROM subsidiary WHERE corp_idx = #{corpIdx}
    </select>
</mapper>


